:root{
    --primary-bg-color:#FFF5B2;
    --secondary-bg-color: #F3C969;
    --tertiary-bg-color: #24729B;
    --primary-text-color:#362C28;
    --secondary-text-color: #FFF5B2;
    --tertiary-text-color: #241C15;
    --accent-text-color: #381D1B;
    --white:#FFFFFF;
    --black:#000000;
    --outline-color:#EDFF86;


}


/* div{
    border: 2px solid black;
} */



nav{
    background-color: var(--white);
}
.navmenu{
   padding: 10px 0;
}
.navbar-brand{
    font-weight: 700;
    color: var(--primary-text-color);

    
}
.navitems{
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-text-color);
}

.herotext {
    /* max-width: 487px;
    min-width: 287px; */
    color: var(--primary-text-color);
}






.herotitle h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 96px;

}





.herodescription h5{
    font-weight: 400;
    font-size: 20px;
}
button{
    padding: 6px 16px;
    background-color: var(--primary-text-color);
    

}
.herosection button a{
    text-decoration: none;
    color: var(--secondary-bg-color);
    font-weight: 600;
    text-transform: uppercase;
}
button a{
    text-decoration: none;
    color: var(--primary-text-color);
    background-color: transparent;
    font-weight: 600;
    text-transform: uppercase;
}

.productsection{
    margin: auto;
}

.productsection .card{
    max-width: 241px;
    max-height: 353px;
    padding: 26px 26px 42px 26px;
    background-color: #FFCD5C;
    border-radius: 16px;
    
    
}

.productsection img{
    max-width: 189px;
    max-height: 177px;
    
}

.firstcard{
    background-color: var(--white);
    color: var(--tertiary-text-color);
    max-width: 224px;
    min-height: 464px;
}


.groupie .card-body{
    max-height: 110px;
    
  /*   margin: 16px; */
    padding: 5px 0;
    



}
.shoppingtext{
    color: var(--primary-text-color);
    

}





.rightsection h2{
   /*padding: 10px;*/
   font-weight: 700;
   font-size: 42px;

}

.rightsection p{
    text-align: left;
    font-weight: 300;
    font-size: 16px;
}
.aboutbutton{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 10px 20px;
    
}

.lastsection .card{
    height: 50%;
    /* look for a better way to implement the min-width */
    min-width: 343px;
    max-width: 560px;
    max-height: 464px;
    padding-top: 36px;
    border-style: none;
    background-color: white;
    border-radius: 0%;
}

.lastsection img{
    max-height: 928px;
    max-width: 560px;
}

.lastsection li{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    text-align: left;
    padding: 0px;
}
.lastsection .card .a{
font-weight: 500;
font-size: 16px;
text-align: center;
text-transform: uppercase;
color: var(--primary-text-color);
}


